$mainGrn: #46b386;
$darkerGrn: #336d55;

.cc-container {
  height: calc(90vh);
  * {
    margin: 5px;
  }
  input {
    background: transparent;
    border: white 2px solid;
    color: white;
    padding: 5px;
  }

  button {
    background: white;
    border: $darkerGrn 2px solid;
    color: $darkerGrn;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
  }

  #cc-error {
    background: #ff00008f;
    text-align: center;
    margin-top: 5px;
  }

  .cc-results {
    div {
      font-size: 1.5rem;

      .changedLetter {
        margin: 0;
        font-weight: bold;
        color: #336d55;
      }
    }
  }
}
