@import '../../styles/variables.scss';

.pf-skill-container {
    //display: flex;
    //justify-content: center;

    .show {
        opacity: 1;
        transform: scale(1);
    }
    .hidden {
        opacity: 0;
        transform: scale(0);
        overflow: hidden;
        height: 0;
        width: 0;
    }
    .pf-skill-group {
        margin: 2rem 0;
    }
}

.skill-indicator {
    //flex: 1;
    width: 10%;
    display: inline-block; 
    transition: all 1s;

    svg {
        font-size: 5rem;
    }

    .si-name {
        line-height: 2rem;
    }

    .si-progress {
        background: $off-white;
        border-radius: 10px;
        height: 1rem;
        width: 35%;
        display: flex;
        margin: auto;

        .si-progress-bar {
            background: $bright-turquoise;
            border-radius: 10px;
            height: 0.6rem;
            width: 100%;
            margin: 0.2rem;

            &.prog-5 {
                width: 100%;
            }
            &.prog-4 {
                width: 80%;
            }
            &.prog-3 {
                width: 60%;
            }
            &.prog-2 {
                width: 40%;
            }
            &.prog-1 {
                width: 20%;
            }
            &.prog-0 {
                width: 0%;
            }
        }
    }
}