.pf-header {
    background: 'transparent';
    // margin-bottom: 1.45rem;

    .pf-header-zone {
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;

        h1 {
            margin: 0;
            text-align: center;
            .pf-head-title {
                color: #112244;
                text-decoration: none;
            }
        }
        nav {
            display: flex;
            text-align: center;

            .pf-navLink { //.pf-navButton {
                flex: 1;
                text-decoration: none;

                .pf-navButton { //.pf-navLink {
                    padding: 1rem;
                    color: lightsteelblue;
                }
            }  
        }
              
    }
}