.pf-section-block {
  display: flex;
  justify-content: center;

  &.vertical {
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;
    .pf-section {
      margin: 0 20px;
    }
  }

  &.normal {
    section.pf-section {
      align-self: center;
    }
  }

  &.expandable {
    section {
      flex: 1;
      transition: flex 1s;

      &.pf-section {
        align-self: stretch;
      }

      &:hover {
        flex: 2;
      }
    }
  }

  &.spaced {
    .pf-section {
      margin: 10px 0;
    }
  }

  .pf-section {
    background: #0066dd;
    padding: 20px;
    color: white;
    text-align: center;
    align-self: center;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;

    &.fill {
      width: 100%;
      font-size: 20px;
    }
    &.large {
      width: 75%;
      font-size: 20px;
    }
    &.medium {
      width: 65%;
      font-size: 16px;
    }
    &.wide {
      width: 960px;
      font-size: 20px;
    }
    &.small {
      width: 35%;
      font-size: 14px;
    }
    &.x_small {
      width: 15%;
      font-size: 14px;
    }
  }

  .pf-subsection .pf-section {
    margin: 0 20px;
  }
}
