$surroundingBackground: #282c34;
$defaultBackground: #ffdd11;
$width: 200px;
$height: 200px;

.mds-box {
  background: $defaultBackground;
  width: $width;
  height: $height;
  overflow: hidden;

  .slide-deck {
    width: calc(#{$width} * 2);
    height: 100%;

    &.transition {
      transition: transform 3s;
      transform: translate(0, 0);
    }

    .box-slide {
      margin: 0;
      padding: 0;
      width: $width;
      height: $height;
      display: inline-block;

      p {
        padding: 10%;
        font-family: sans-serif;
      }
    }
  }
}
